label,
input,
button {
  display: block;
  font-family: 'Yomogi';
}

form .btn.button-29 {
  position: absolute;
  left: 41%;
  top: 98%;
  height: 40px;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 1rem;
}

label {
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.1rem;
}

input {
  width: 100%;
  min-height: 30px;
  background-color: transparent;
  padding: 5px;
  font-weight: 800;
}

textarea::placeholder {
  color: gray;
}

textarea:focus {
  background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
  ;
}

textarea {
  resize: none;
  width: 100%;
  font-family: 'Yomogi';
  min-height: 50px;
  background-color: transparent;
  padding: 5px;
  font-weight: 800;
}

form {
  min-width: 290px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: -3%;
  top: 21%;
}