.section-five-avatar {
  height: 600px;
}

.section-five-file {
  height: 585px;
  transform: rotate(16deg);
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.section-five-file-wrap {
  position: absolute;
  left: -34%;
  top: -6%;
  z-index: -1;
}


.section-five-avatar-wrap {
  position: absolute;
  left: -20%;
  top: 2%;
}

.section-five-balloon {
  height: 400px;
  animation: shake-vertical 10s infinite;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.section-five-balloon-wrap {
  position: absolute;
  left: 39%;
  top: 55%;
}


.section-five-note1,
.section-five-note2 {
  height: 290px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.section-five-note1-wrap {
  position: absolute;
  left: 36%;
  top: 11%;
  animation: wobble-hor-top 10s infinite;
  animation-delay: 1.75s;
}

.section-five-cloud {
  height: 245px;
  animation: shake-vertical 10s infinite;
  animation-delay: 1.5s;
}

.section-five-hand {
  height: 330px;
  animation: wobble-ver-left 5s infinite;
  filter: drop-shadow(2px -2px 10px rgba(0, 0, 0, 0.2));
}

.flex-container.container.section-five {
  margin-top: 300px;
}

.flex-container.container.section-five .right-flex {
  left: 5%;
}

.flex-container.container.section-five .section-header {
  margin-left: 0;
  min-width: 565px;
  position: absolute;
  top: -35%;
  left: -30%;
}

.section-five-cloud-wrap {
  position: absolute;
  top: 89%;
  left: -66%;
}

.section-five-cloud1-wrap {
  position: absolute;
  top: 89%;
  left: 32%;
  transform: rotateY(180deg);
  filter: drop-shadow(2px -2px 10px rgba(0, 0, 0, 0.2));
}

.section-five-note2-wrap {
  position: absolute;
  left: 66%;
  top: 43%;
  animation: wobble-hor-top 10s infinite;
}

.section-five-hand-wrap {
  position: absolute;
  left: 53%;
  top: -5%;
}

.note1-content {
  position: absolute;
  top: 40%;
  left: 19%;
}

.note2-content {
  position: absolute;
  top: 40%;
  left: 27%;
}

@-webkit-keyframes wobble-ver-right {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-ver-right {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}

@-webkit-keyframes wobble-ver-left {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-ver-left {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes wobble-hor-top {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-hor-top {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}